<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="toast-script">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script th:src="@{/js/handler-auth.js}"></script>

    <script th:inline="javascript">
        const successData = /*[[${success}]]*/ null;
        const errorData = /*[[${error}]]*/ null;

        if (typeof initToast === "function") {
            initToast(successData, errorData);
        }
    </script>
</div>
</body>
</html>