<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/layout :: head}">
    <title>Hồ sơ Quản lý</title>
</head>
<body>
<div class="wrapper">
    <!--Sidebar theo role-->
    <nav th:replace="~{common/layout :: sidebar}"></nav>

    <div class="main-content">
        <!--Profile chung-->
        <div th:replace="~{common/profile :: profile-content}"></div>

        <!--Footer chung-->
        <footer th:replace="~{common/layout :: footer}"></footer>
    </div>
</div>
<div th:replace="~{common/fragments :: toast-script}"></div>
</body>
</html>